  <!-- slider -->

  <div class="index_slider">
    <div class="container">

      <!-- slider block -->
      <ul class="bxslider">
        <li>
          <img src='assets/index_slider/01.jpg' alt=''>
        </li>
        <li>
          <img src='assets/index_slider/02.jpg' alt=''>
        </li>
      </ul>


      <div class="banner-divider"></div>

    </div>

  </div><!-- e/o slider -->

  <!-- index main content => news and FB -->
  <div class="index_main">
    <div class="container">
      <!-- 最新消息 -->
      <div class="index_news">
        <a href="show/news_list.html" class="index_news-title trans-05s"><i class="fa fa-circle"></i> 最新消息 <span>more ></span></a>
        <div class="index_news-inner">

          <!-- news unit -->
          <a href="/show/news01.html" class="unit curl-top-right trans-05s">

            <!-- left for feature pic -->
            <div class="left">
              <img class="img-responsive" src="assets/news/002.jpg" alt="">
            </div>

            <!-- right for detail info -->
            <div class="right">
              <div class="date">
                <span>◎ 2014-09-26</span>
              </div>
              <div class="title">
                <h3>秋日好養生，太極導引、菩提功夫禪系列課程健康招生中！</h3>
              </div>
              <div class="summary only-desktop-up">
                <p>時過秋分，天氣漸涼，正是調節身體養氣生息的好時機。特別推薦太極導引班，以及最新推出的菩提⋯⋯<br /><span class="more">more</span></p>
              </div>
            </div>
          </a>
          <!-- news unit -->
          <a href="/show/news02.html" class="unit curl-top-right trans-05s">

            <!-- left for feature pic -->
            <div class="left">
              <img class="img-responsive" src="assets/news/001.jpg" alt="">
            </div>

            <!-- right for detail info -->
            <div class="right">
              <div class="date">
                <span>◎ 2014-09-26</span>
              </div>
              <div class="title">
                <h3>文山藝術季即將熱鬧登場，快來參加臺北城南最精彩的藝文饗宴！</h3>
              </div>
              <div class="summary only-desktop-up">
                <p>永安藝文館-表演36房主辦文山藝術季迄今已第8年，串聯景文高中優人表演藝術班、政大藝文中心⋯⋯<br /><span class="more">more</span></p>
              </div>
            </div>
          </a>
          <!-- news unit -->
          <a href="/show/news03.html" class="unit curl-top-right trans-05s">

            <!-- left for feature pic -->
            <div class="left">
              <img class="img-responsive" src="assets/news/003.jpg" alt="">
            </div>

            <!-- right for detail info -->
            <div class="right">
              <div class="date">
                <span>◎ 2014-09-26</span>
              </div>
              <div class="title">
                <h3>2015 表演36房兒童禪鼓冬令營開始報名，名額有限 欲報從速！</h3>
              </div>
              <div class="summary only-desktop-up">
                <p>最受歡迎、最充實豐富的冬季藝術營隊，表演36房兒童禪鼓冬令營要開始報名囉！課程內容包含⋯⋯<br /><span class="more">more</span></p>
              </div>
            </div>
          </a>

          <!-- <div class="index_news-more">
            MORE
          </div> -->

        </div>
      </div><!-- e/o 最新消息 -->

      <!-- facebook -->
      <div class="index_facebook">
        <h2 class="index_facebook-title">facebook</h2>
        <div class="index_main-inner">
          <div class="facebook_block"></div>
        </div>
      </div><!-- e/o facebook -->

    </div>
  </div>

  <!-- little banners -->
  <div class="index_banners">
    <div class="container">
      <div class="divider"></div>
    </div>
    <div class="container">
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="assets/index_little_banner/5.jpg" alt="banner1" title="banner1">
          </a>
        </div>
      </div>
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="assets/index_little_banner/7.jpg" alt="banner2" title="banner2">
          </a>
        </div>
      </div>
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="assets/index_little_banner/8.jpg" alt="banner3" title="banner3">
          </a>
        </div>
      </div>
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="assets/index_little_banner/6.jpg" alt="banner4" title="banner4">
          </a>
        </div>
      </div>
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="assets/index_little_banner/4.jpg" alt="banner5" title="banner5">
          </a>
        </div>
      </div>
      <div class="index_banner-unit only-mobile">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="http://placehold.it/300x130" alt="placeholder" title="placeholder">
          </a>
        </div>
      </div>

    </div>
  </div>
