<div class="container news-admin">
  <h3>新聞管理</h3>
  <a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> 新增</a>
  <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>新聞標題</th>
          <th>管理選項</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>秋日好養生，太極導引、菩提功夫禪系列課程健康招生中！</td>
          <td><a href="#" class="btn btn-warning"><i class="fa fa-edit"></i> 編輯</a> <a href="#" class="btn btn-danger"><i class="fa fa-remove"></i> 刪除</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>2014文山藝術季即將熱鬧登場，快來參加臺北城南最精彩的藝文饗宴！</td>
          <td><a href="#" class="btn btn-warning"><i class="fa fa-edit"></i> 編輯</a> <a href="#" class="btn btn-danger"><i class="fa fa-remove"></i> 刪除</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>2015 表演36房兒童禪鼓冬令營開始報名，名額有限 欲報從速！</td>
          <td><a href="#" class="btn btn-warning"><i class="fa fa-edit"></i> 編輯</a> <a href="#" class="btn btn-danger"><i class="fa fa-remove"></i> 刪除</a></td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container news-admin">
  <h3>Banner 管理</h3>
  <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>新聞標題</th>
          <th>管理選項</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>秋日好養生，太極導引、菩提功夫禪系列課程健康招生中！</td>
          <td><a href="#" class="btn btn-warning"><i class="fa fa-edit"></i> 編輯</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>2014文山藝術季即將熱鬧登場，快來參加臺北城南最精彩的藝文饗宴！</td>
          <td><a href="#" class="btn btn-warning"><i class="fa fa-edit"></i> 編輯</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>2015 表演36房兒童禪鼓冬令營開始報名，名額有限 欲報從速！</td>
          <td><a href="#" class="btn btn-warning"><i class="fa fa-edit"></i> 編輯</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>2015 表演36房兒童禪鼓冬令營開始報名，名額有限 欲報從速！</td>
          <td><a href="#" class="btn btn-warning"><i class="fa fa-edit"></i> 編輯</a></td>
        </tr>
        <tr>
          <td>5</td>
          <td>2015 表演36房兒童禪鼓冬令營開始報名，名額有限 欲報從速！</td>
          <td><a href="#" class="btn btn-warning"><i class="fa fa-edit"></i> 編輯</a></td>
        </tr>
      </tbody>
    </table>
</div>
